.units__display {
  display: flex;
  overflow-x: scroll;
  background-color: #2f5d8c;
  color: white;
}

.units__display--unit-illustration {
  width: 25px;
}

.units__display--unit {
  padding: 20px;
}

.units__edit {
  position: fixed;
  right: 0;
  padding-right: 20px;
  margin: 8px 0 0 0;
}